
html, body {
    height: 100%;
  }

*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    padding: 0;
    margin: 0;
    background: rgb(93, 0, 255);
    display: flex;
  flex-direction: column;
}

.container{
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container2 span{
    display: flex;
    justify-content: center;
    margin: 20px;
}

button{
    font-size: 16px;
    width: 150px;
    border: none;
    background-color: white;
    padding: 5px 20px 5px 20px;
    margin: 20px;
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0);
    font-weight: 700;
    color: black;
}

button:hover{
    border: 2px solid white;
    background: rgb(93, 0, 255);
    color: white;
}

.container2{
    display: flex;
    justify-content: center;
    font-weight: 700;
    text-shadow: 1px -1px 5px rgb(0, 0, 0);
    flex-wrap: wrap;
}

.container2 > .wins{
    background-color: rgb(0, 174, 0);
    height: 100px;
    width: 100px;
    color: white;
    align-items: center;
    border-radius: 20px;
    border: 5px solid rgb(0, 98, 0);
    
}

.container2 > .loses{
    background-color: red;
    height: 100px;
    width: 100px;
    color: white;
    align-items: center;
    border-radius: 20px;
    border: 5px solid rgb(98, 0, 0);
}

.container2 > .draws{
    background-color: rgb(74, 74, 74);
    height: 100px;
    width: 100px;
    color: white;
    align-items: center;
    border-radius: 20px;
    border: 5px solid rgb(43, 43, 43);
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(64, 0, 175);
    width: 100%;
    margin-top: 18.2%;
}

.footer > a{
    font-weight: 900;
    font-size: 48px;
    color: white;
    text-decoration: none;
}

.footer > a:visited{
    color: white;
    text-decoration: none;
}
  

.container3{
    /* width: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

span.howManyWins{
    font-size: 24px;
    border: none;
    background-color: white;
    padding: 5px 20px 5px 20px;
    margin-top: 70px;
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0);
    font-weight: 700;
    color: black;
}

span.percentOfWins{
    display: none;
    font-size: 24px;
    border: none;
    background-color: white;
    padding: 5px 20px 5px 20px;
    margin-top: 70px;
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0);
    font-weight: 700;
    color: black;
}


.content {
    flex: 1 0 auto;
  }
  .footer {
    flex-shrink: 0;
  }